                             ,⌐`   ─-¬`             ~                   
                            ⌐__.─╜╜-<.__            /  ~                
                          -`..-⌂___ⁿ  ¬-`'=._    .'     `,              
                       .^ _,▄▄▄▄__  `'Y _¬._`ªK_          φ             
                    .^▄φ▓█▀`¬ _   '▀█▌▄▄_ ` ~._ └ .        ¼            
                   [A▀  ▌─ _ ¬. ' ^.¬ ¬`╙"▀▄_  `¬,       /              
           _.-¬ⁿ^^"╙¬.Jó..___─¬^^``__"ⁿⁿ┴.µ_`▀▄ >_`w <ⁿ≈`   ▌           
          - æ` j    Φ_ ▄╖╖_ ∩  ╔▓██████▌▄  >╚'╙▀▄ ', > \    ╞           
  _w«≈._  \║  ╔   ,φ█▌▀¬- ║╘  ╔▓█████████▌ AW┐._ Æ▄ '_'_² __╙           
┌`      '  J▌   ▄▓█"       VVφ███████████▌╞_ⁿ≡≈▀Φ███▄ \   ^             
╛        Γ 'Åφ▄███ L   ▌█   \╙███████████ M  `   ` ▀█▌ `  ╘ ▐           
┐       '    ╙║▀██            %▄▀▀████▀▀═         `%╙██▄  Ω½║           
 ┌`      ..      Γ              `╙▀DD`         _    r▌██▄`  ▌           
 }     -` ,     ▐                    ,▄▀▀≡≡≡^"   '  r▌╙██ ╞ ▌           
╒    _       \  ╘,▄▄▄▄,_____,▄▄∞≡▀^`      '          ▌ ██▌╞^   `        
'_           ._    L┘"  _▄▀^           _∩          'Æ  ║█^▌╓ / ,╝⌐¬^`ⁿ┐ 
  `^_'Γ`_      ▄¬`  _▄∩╙            _═2         _─,S    ▌▓#ⁿ,▄Æ▀,▄∞ⁿⁿⁿⁿ^
 ∩ ,⌐--Γ   .¬`  }⌐^  \└        _ ▄∞5═  ._` ⁿⁿ_,▄æ▀      ▓▌▀"▀▀Ç`╙Ö▀▀ⁿ.⌐ 
r     _.¬`  .¬        '~════∞φ▀██▄▄φ@█████████▀^` .     ▀█w ▓▄▄▌`~_     
 ~__ '╝▒wⁿ  __                 "▀▓mæææA▀▀",-^`  ⌐      (_▓▌ └╙▀█▄▓  ⁿ~  
    ` "¬          _─ⁿ%         ┌m5▌▀╩""".     ^ ^     / ██▓    `▓██▓▄, `
        _,-~_\-^ _.¬^           ▄█▌ ⁿ┬ . ─ `    .     ═▐███ .H_.._████__
       / ⁿ^    `^_2^         `▄██ ╫`                 _ ║██▓ _▌2ⁿ7^^"╙███
     A^  .╔▄ææ¬¬^      ^ _  ╓▓██▌_▐▄_          _ `─√▀-▄▌╜╙▌ rH╘__      ╙
  .^ _¡-`┐    ._.╖Ç    c╒  ▄███▀^~█▌   ─. ─¬^     ⌐" ▄╩   ⌐  _ L U      
 (  [,1ⁿ<╫⌐^^▐▀`   ─,`    ███▓▀``j▌   `~___.─¬ⁿ ⁿ `y«▀<¬╖/  [  ▐.L      
  v  `_╖½▌╒▀^│     ╞¬    ███  │` ╙¬¬¬─  ┌  _-¬:r_ ╔Å       ┌▌    ▌      
   ║    £[▌        ╞    ▓█^    φ@╜     ╒^` _┌¬  ║A`  º ≥Ü  ▌   ▐ M      
   ║_ ¬ '╝█▓¬─     r   ║█^^ ¬```\ ∩_  x" ⌠   µ▌▀      ,`  ╬ⁿ    ╗       
    ⁿ▄           ,▄.  ▐█         `▀╗▓▄▌▄_áφæ▀^   -._¬/   █      ▐       