                               , ╓             
                           _╜  ╔▌  !           
                             ╓▓╬_ /            
                        '  jÆ╣DD#^             
                         _#╠▒RÜ^               
                     /  ▄╢╙╖╝`                 
             _. ¬¬ ²  ,φ▓^                     
                 ~.   O╚▓_                     
             #^%φ_    [ ╚▓                     
            _╚╬WÄ[╜     `╙▌                    
           __   `   __. ─[╙#_                  
         *  =▒         _ _▄▓▀╬▌_        _  _ _ 
        `^ªÖµ.j    _▄@█▓▀_ª╣╙╣▌▄_     =_░Ü▓╩_  
 -.,_      └_ _ ╓∩å█╣╝Γ`√x╙_X⌂║╚█     ▓▄█Ö_    
  [ _  \    `╚▐█╩╠█▀ ▌ ,^", \ `╬╚█   ███Ñⁿ     
│ w▒=▒╖╗   ."ó╠▀R╩ⁿ╙,▀.-_\ ⁿ  \-\╙████╚»       
`-╘¼_  ╙╗▄   ╙╠/R╣╬",`⌐ .'≈≥_7 '⌂`╦╫█▌_╔▐      
  W⌐`╙╚▓▓φ▄▄░▒Φ_.─\  ─^,R╩▓▄╓ `_Ä╙╫█|`         
        \ `,╙#╟██  .-  _═ .  ╦▓█¥▄V,<╠╫╫▌ `    
           .`jÑ╣█_ .'  '   ╢╟▀╝▒H⌂╔▒╬╬Æ▓`      
               ░╫\r_' .. ▄▓▀ ╠╠Dj)╠╣▓▓█        
                 -     ▄▓╩╦#╣█▓▓███▓██▓▓       
                     ▄▓^.- └.ª`\ -╠╝╣╬█▓▓__    
                   ╓▓`   '   <` ╒^µ╩^╙╙╠╣▓─╜   
                 ╓▓`           ¬`_  `.~╚╣╢▌[   
                   ▌      _,. `` ' .- ─' ║╢▓   
                  ╬▌ ,,_ `      ù_.~ __.Φ╣╠▓   
                 ▓ ╙   _  ═-`   ╚' ⌐\[▓█╣╣_`   
                 ╬            ┌   `ⁿ╚D╝╚╙╬▓ ╚  