{% for work in site.data.works %}
<p class="entry-title">{{work.title}}</p>
<p style="margin-bottom:5px">
	{{work.authors | replace: "Fabrizio Frasca", "<u><i>Fabrizio Frasca</i></u>" | replace: "+", "<sup style='font-size:0.75em;line-height:0'>†</sup>"}}
</p>
{% if work.venue or work.comment %}
<p style="margin-bottom:5px">
	{% if work.venue %}<em>{{work.venue}}</em>{% endif %}
	{% if work.venue and work.comment %}<span style="color:#777"> &middot; </span>{% endif %}
	{% if work.comment %}<b>{{work.comment}}</b>{% endif %}
</p>
{% endif %}
<div class="pill-links">
	{% if work.link %}<a href='{{work.link}}'>paper</a>{% endif %}
	{% if work.code %}<a href='{{work.code}}'>code</a>{% endif %}
	{% if work.post %}<a href='{{work.post}}'>post</a>{% endif %}
	{% if work.video %}<a href='{{work.video}}'>video</a>{% endif %}
</div>
<details style="margin-bottom:15px">
	<summary><i>Abstract</i></summary>
	<br />
	{{work.abstract}}
</details>
<hr>
{% endfor %}